{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}
{% block body %}

    {% if tickets is not defined %}
        <div>
            <h3>
                Vous n'avez créé aucun ticket pour l'instant.
            </h3>
        </div>
    {% else %}
        <div class="d-flex justify-content-center table-responsive">

        <div class="col-sm-12 col-md-10 pt-4">
            <div class="container-fluid">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Technicien</th>
                        <th scope="col">Demandeur</th>
                        <th scope="col">Lieu</th>
                        <th scope="col">Date d'échéance</th>
                        <th scope="col">Priorité</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.id }}</td>
                            <td>{{ ticket.statut }}</td>
                            <td>{{ ticket.titre }}</td>
                            <td>{{ ticket.technicien }}</td>
                            <td>{{ ticket.demandeur }}</td>
                            <td>{{ ticket.lieu }}</td>
                            <td>{{ ticket.dateEcheance|date("d/m/Y") }}</td>
                            <td>{{ ticket.priorite }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    </div>

{% endblock %}
